@import '../../../../styles/configs.scss';
@import '../../../../styles/colors.scss';

.sidebar {
  width: 300px;
  display: none;
  position: fixed;
  top: 0px;
  left: 0;
  height: 100vh;
  background-color: $grey-3;
  color: $white;
  transform: translateX(-100%);
  transition: transform $anim-time ease;
  box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 24px;
  z-index: 900;

  @media screen and (max-width: $breakpoint-up-md) {
    display: block;
  }

  &--open {
    transform: translateX(0);
  }

  &__list {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
  }

  &__list-item {
    font-size: 20px;
    font-weight: bold;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: $grey-4;
      transition: 0.3s ease background-color;
    }

    & > * {
      &:first-child {
        font-size: 20px;
        font-weight: 700;
      }

      &:last-child {
        margin: 0 48px;
      }
    }
  }
}
