.button {
    max-width: 225px;
    width: 100%;
    height: 60px;
    background-color: $blue;
    text-align: center;
    font-family: 'Aleo';
    font-size: 16px;
    text-transform: uppercase;
    color: $white;
    letter-spacing: 1.2px;
    
    &--search {
        max-width: 150px;
        width: 100%;
        border: solid 2px $white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        letter-spacing: 1.4px;
        
        p {
            padding-right: 10px;
        }
    }

    &:hover {
        background-color: lighten($color: $blue, $amount: 10);
        transition: background-color 0.2s ease;
    }

    &:hover span {
        transform:  scale(1.3);
        transition: transform 0.2s ease;
    }
}