@import '../../../styles/colors.scss';
@import '../../../styles/configs.scss';

.sponsors {
  background-color: $grey-1;

  &__content-container {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px 0;

    @media screen and (max-width: $breakpoint-up-sm) {
      padding: 30px 0;
    }
  }
}
