@import '../../../styles/colors.scss';
@import '../../../styles/configs.scss';

.works {
  min-height: 1380px;

  &__content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 90px 0;

    @media screen and (max-width: $breakpoint-up-sm) {
      padding: 30px 0;
    }
    @media screen and (max-width: $breakpoint-up-xs) {
      align-items: stretch;
    }
  }
}
