@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@100;300;400;500;600;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@400;700&family=Josefin+Sans:wght@100;400;500;600;700&display=swap"); 

@import"..//assets/libs/fontawesome-free-5.13.0-web/scss/fontawesome.scss";

@import"..//assets/libs/fontawesome-free-5.13.0-web/scss/brands.scss";

@import"..//assets/libs/fontawesome-free-5.13.0-web/scss/solid.scss";

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }

