@import '../../../styles/configs.scss';

.service {
  min-height: 580px;

  &__section-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 90px 0;

    @media screen and (max-width: $breakpoint-up-sm) {
      padding: 30px 0;
    }
  }
}
