@import '..//..//..//styles/colors.scss';

.navbar {
  display: flex;
  align-items: center;

  &__item {
    color: $white;
    margin-right: 32px;
  }

  a {
    text-decoration: none;

    &:hover {
      border-bottom: 2px solid $white;
      color: $white;
      padding-top: 2px;
      transition: 0.1s ease;
    }
  }
}
