@import '..//..//..//styles/colors.scss';

.navbar {
    display: flex;
    align-items: center;
  
    &__item {
      color: $white;
      margin-right: 32px;
     
    }

    a {
      text-decoration: none;

      &:hover {
        color: $white;
        text-shadow: rgb(255, 255, 255) 0px 0px 20px;
        transition: 0.2s ease;
      }
    }
  }
  