.footer {
    min-height: 260px;
    background-color: $darkgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (max-width:$breakpoint-down-xs){
        min-height: 140px;
    }

    &__title {
        margin-bottom: 10px;

        @media screen and (max-width:$breakpoint-down-xs){
            margin-top: 20px;
        }

        h1 {
            font-size: 24px;
            line-height: 1.1em;
            letter-spacing: 0.15em;
            text-align: center;
            color: $white;
            text-transform: uppercase;   
        } 
    }

    &__subtitle {
        margin-bottom: 30px;

        p {
            font-size: 16px;
            letter-spacing: 0.07em;
            text-align: center;
            color: $white;
        }
    }

    &__socials {
        width: 100%;
        height: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a { 
            color: $textgray;
            cursor: pointer;
            transition: color 0.2s ease;

            &:first-child:hover {
                color: $blue;
            }

            &:nth-child(2):hover {
                color: $lightblue;
            }

            &:nth-child(3):hover {
                color: $blue;
            }

            &:nth-child(4):hover {
                color: $youtred;
            }

            &:nth-child(5):hover {
                color: $red;
            }
        }   
    }
}