.header {
    height: 80px;
    background-color: $blue;
    color: $white;
    position: sticky;
    top: 0;
	z-index: 10;
	
	@media screen and (max-width: $breakpoint-down-sm) {
		height: 60px;
		}
    
    &__content-container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
		margin-top: 5px;
		max-width: 170px;
		width: 100%;
        text-transform: uppercase;
		font-size: 24px;
		font-weight: bold;
        letter-spacing: 0.1em;
    }

    &__navbar--items  {
        text-transform: uppercase;
        font-family: 'Aleo';
        font-size: 14px;
        font-weight: 400;

        a {
            color: $white;
            margin-right: 40px;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
				color: $gray;
				transition: color 0.2s ease;
            }
        }
    }
}